body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#header-menu {
    grid-column: 1 / 4;
    grid-row: 1;
}

#side-menu {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

#stage {
    grid-column: 1;
    grid-row: 2 / 5;
}

#article {
    grid-column: 1;
    grid-row: 4;
}

#main-content {
    grid-column: 2;
    grid-row: 2 / 5;
}

#footer {
    grid-column: 3;
    grid-row: 4;
}

/*!* Ganz krass *!*/
/*#footer {*/
    /*grid-column: span 3;*/
    /*grid-row: 5;*/
/*}*/
