body {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    grid-template:
        "header header header side" 50px
        "article stage stage side" 300px
        "article content content side" 300px
        "footer footer footer footer" 50px
        / auto auto auto auto;
}

@media(max-width: 1024px) {
    body {
        grid-template:
            "header header" 50px
            "stage article" 400px
            "content side" 500px
            "footer footer" 50px
            / auto 30%;
    }
}

#header-menu {
    grid-area: header;
}

#side-menu {
    grid-area: side;
}

#stage {
    grid-area: stage;
}

#article {
    grid-area: article;
}

#main-content {
    grid-area: content;
}

#footer {
    grid-area: footer;
}

@media(max-width: 480px) {
    body {
        grid-template: repeat(6, 100px) / repeat(1, 1fr);
    }

    #header-menu, #side-menu, #stage, #article, #main-content, #footer {
        grid-area: auto;
    }
}
