* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    width: 100%;
    height: 100%;
    background-color: #e0e5db;
}

#header-menu {
    background-color: hsla(0, 40%, 60%, 0.8);
}

#side-menu {
    background-color: hsla(60, 40%, 60%, 0.8);
}

#stage {
    background-color: hsla(120, 40%, 60%, 0.8);
}

#article {
    background-color: hsla(180, 40%, 60%, 0.8);
}

#main-content {
    background-color: hsla(240, 40%, 60%, 0.8);
}

#footer {
    background-color: hsla(300, 40%, 60%, 0.8);
}

